/projectDevel/prodProjectServer/target/
/projectDevel/phpMyAdmin-4.6.3-all-languages/nbproject/private/
/projectDevel/phpmyadmin/nbproject/private/
/projectDevel/projectUrbanServer/nbproject/private/
/projectDevel/prodServer/target/
/projectDevel/Guestbook/nbproject/private/
/projectDevel/Guestbook/build/